.row .col-md-4 img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.row .col-md-4 img:hover {
  transform: scale(1.1);
}

.contenedorpor {
  width: 100vw;
  height: auto;
}

.contenedorpor img {
  width: 100%;
  height: auto;
}

.contenedorpor .dos {
  margin-top: 50px;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.grid-item {
  width: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.781);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 50;
  width: 100%;
  height: 100%;
}