*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* estilos generales para el body */
body{    
    overflow-x: hidden;
}
/* estilos personalizados del navbar */
.navbar{
    background-color: rgba(255, 255, 255, 0.781);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
}
/* estilos del contenedor de la imagenes de portada */
.contenedorpor {
    width: 100vw;
    height: auto;
}
/* estilos imagenes de portada */
.contenedorpor img {
    width: 100%;
    height: auto;
}
/* estilos imagenes de poortada 2  */
.contenedorpor .dos{
    margin-top: 50px;
}
.bg-dark .text-light .py-4{
    margin-top: 50px;
}
/* estilos imagenes de prendas debajo de las de portada */
.imagenes{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
}
/* estilos del grid de colecciones  */
.grid-item {
    width: 100%;
}
/* estilos deel video*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción de aspecto del video */
    padding-top: 30px; /* Espacio adicional arriba del contenedor */
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 50;
    width: 100%;
    height: 100%;
}